.section{
    max-width: 950px;
    margin: 0 auto;
    font-family: "Raleway";
}

.welcomeTitle{
    display: flex;
}

.title{
    max-width: 50%;
    margin: 5px;
    padding: 5px;
    align-self: flex-start;
}

.title > h1{
    margin: 50px 0 0 0;
    text-align: right;
    font-size: 45px;
    text-decoration: underline;
}

.title > h3{
    margin: 20px 0 0 0;
    font-size: 30px;
    text-align: right;
    
    color: rgb(76, 76, 76);
}

.bannerContainer{
    /*object-fit: contain;*/
    width: 50%;
    /*margin: 0 auto;*/
    margin-left: auto;
    align-self: flex-start;
    border-radius: 50% 0 5% 35%;
    overflow: hidden;
}

.bannerContainer > img{
    padding: 10px;
    /*border-radius: 50% 0 5% 35%;*/
    background: rgb(240,244,245);
    background: linear-gradient(315deg, rgba(240,244,245,1) 50%, rgba(61,90,128,1) 100%); 
    /*-webkit-box-shadow: -19px 8px 20px -4px rgba(0,0,0,0.63); 
    box-shadow: -19px 8px 20px -4px rgba(0,0,0,0.63);*/
}

.descriptionHomePage{
    margin: 0 auto;
    max-width: 750px;
}

.descriptionHomePage > p{
    font-size: 21px;
    line-height: 29px;
    border-left: 8px solid var(--lightBlue);
    padding-left: 5px;
}

.containerLinkToFormations{
    display: flex;
    justify-content: center;
    margin: 15px 0 30px 0;
}

.buttonToFormation{
    cursor: pointer;
    font-family: "Raleway";
    font-size: 21px;
    margin: 0 7px;
    background-color: rgb(172, 172, 172);
    box-shadow: 0px 5px 10px -4px rgba(0,0,0,1);
    -webkit-box-shadow: 0px 5px 10px -4px rgba(0,0,0,1);
    padding: 8px 16px;
    outline: none;
    border-style: none;
    border-radius: 40px;
    transition: all 0.2s ease-in-out;
}

.buttonToFormation:hover{
    transform: translateY(-2px);
    box-shadow: 0px 7px 15px -4px rgba(0,0,0,1);
    -webkit-box-shadow: 0px 7px 15px -4px rgba(0,0,0,1);;
}