.mainContainer{
    max-width: 1050px;
    margin: 0 auto;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



.linkToDetails{
    display: inherit;
    margin: 6px;
}